html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
}

.ss-wrap {
	position: relative;
	padding-bottom: 100%;
	height: 0;
	width: 100%;
}

#ss {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: auto;
}